#services {
  background-color: black;
  height: 730px;
}

.services-h1 {
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 42px;
}

.cards-services-div {
  height: 500px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.cards-services-div .services-card {
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.card-heading {
  text-align: left;
  margin-top: 5px;
  padding: 10px 20px;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

figure img {
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

figure:has(:hover, :focus) {
  --img-scale: 1.1;
}

.card-text {
  padding: 0px 20px;
}

.card-text p {
  padding: 15px 0px 20px 0px;

  text-align: left;
  font-size: 18px;
}

.read-more-btn {
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  text-align: left;
}

/* button */

.read-more-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 130px 5px;
  transition: background-position 0.5s ease, padding-left 0.5s ease;
  width: 120px;
  height: 30px;
  border: 1px solid #000;
  font-size: 14px;
  padding: 1px 7px 1px 7px;
}

.read-more-btn:hover {
  transition: background-position 0.5s ease, padding-left 0.5s ease;
  background-position: 90px 3px;
  padding-left: 5px;
}
